#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

/* Table contents */

table{
  width: 100%;
  margin: 0 16px;

  border: thin solid white;
  border-collapse: collapse;
}

th, td{
  text-align: left;
  padding: 8px;

  border-right: thin solid white;
}

tr{
  border-bottom: thin solid white;
}

/* Interaction items */

button{
  margin: 8px 0;
}